/* Quita todos los márgenes blancos del navegador */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: none;
  overflow-x: hidden;
}
#root {
  height: 100%;
  width: 100%;
}
